{% extends '../layouts/base.html' %}
<span></span>
{% block content %}

<div class="popup-delete-room js-popup-delete">
  <div class="popup-delete-room__content">
    <p>Are you sure you want to delete:</p>
    <p class="js-room-name text-center"></p>
    <button class="js-btn-no">No</button>
    <a class="js-link-yes" href="">
      <button>Yes</button>
    </a>
  </div>
</div>

<h1>Home Page</h1>

<div>
  <h2>
    <span>Created Rooms</span>
    <a href="{% url 'quiz:create-room' %}">
      <button>Create New Room</button>
    </a>
  </h2>
  {% if created_room_list.exists %}
  <ul>
    {% for room in created_room_list %}
    <li>
      <a href="{% url 'quiz:test' room.id %}">{{ room.name }}</a>
      <a href="{% url 'quiz:edit-room' room.id %}">
        <button>edit</button>
      </a>

      <button class="js-delete-button" id="{{ room.id }}" name="{{ room.name }}">delete</button>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No created rooms!</p>
  {% endif %}
</div>

<div>
  <h2>
    <span>Joined Rooms</span>
    <a href="{% url 'quiz:check-data' %}">
      <button>Join New Room</button>
    </a>
  </h2>
  {% if joined_room_list.exists %}
  <ul>
    {% for room in joined_room_list %}
    <li>
      <a href="">{{ room.name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No joined rooms!</p>
  {% endif %}
</div>

<a href="{% url 'login:logout' %}">Logout</a>

<script>
  let roomName = document.querySelector(".js-room-name");
  let popupDeleteRoom = document.querySelector(".js-popup-delete");
  let linkYes = document.querySelector(".js-link-yes");

  document.querySelectorAll(".js-delete-button").forEach(function (delBtn) {
    delBtn.addEventListener("click", function (event) {
      roomName.textContent = event.target.name;
      popupDeleteRoom.classList.toggle("show");
      linkYes.href = "delete-room/" + event.target.id;
    });
  });

  document.querySelector(".js-btn-no").addEventListener("click", function (event) {
    popupDeleteRoom.classList.toggle("show");
  });
</script>

{% endblock content %}
