{% extends '../layouts/base.html' %}
<span></span>
{% block content %}
<h1>
  <span>Questions List</span>
</h1>

{% if questions_list.exists %}
<ul>
  {% for question in questions_list %}
  <li>
    <a href="{% url 'quiz:choice' room_id test_id question.id %}">{{ question.text }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No available questions!</p>
{% endif %}

<h1>Create Question</h1>

<form action="" method="post">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" value="Create Question" />
</form>

<a href="{% url 'quiz:test' room_id %}">Back to Tests</a><br />
<a href="{% url 'quiz:home' %}">Back to Home</a>
{% endblock content %}
